<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>TableApp v.1</title>

	<script src="jquery-3.1.1.min.js"></script>

	<script src="js/vue.js"></script>

	<link rel="stylesheet" href="css/global.css">

	<meta http-equiv="Cache-Control" content="no-cache" />

	<link rel="icon" href="favicon.ico" type="image/ico">
</head>
<body> 
<script>
	
	// setInterval(function () {
	// 	var arrColor = [
	// 		"body-color1",
	// 		"body-color2"
	// 	];
	// 	var min = 0;
	// 	var max = 3;
	// 	var rand = min - 0 + Math.random() * (max - min + 1);

 //    	rand = Math.round(rand);

 //    	$("body").attr('class', '');
	// 	$("body").addClass(arrColor[rand]);

	// },5000);

</script>

	<div id="preloader-holder" class="preloadHide">
		<div id="preloader">
			<div class="preloader-item"></div>
			<div class="preloader-item2"></div>
		</div>
	</div>

	<div id="uploadFile">

		<span>
			<input type="file"  @change="changeFile">
			<button>Выбрать Фаил</button>
		</span>

		<div>
			{{ resultAjax }}
		</div>
		
	</div>

	<div id="convertApp">
		
		<button v-on:click="registNeed = !registNeed" v-bind:class="{active: registNeed}">Учитывать регистр</button>
		<button v-on:click="spaceNeed = !spaceNeed" v-bind:class="{active: spaceNeed}">Учитывать пробелы</button>
		<button v-on:click="startConvert()" class="Start">Конвертировать</button>

		<br>
		<br>
		<div class="info">
			<span>Было строк: {{ countRowOld }}</span>
			<span>Стало строк: {{ result.length }}</span>
			<span>Сокращение на: {{ procentNew }}%</span>
			<span>Время работы: {{ timeWork }}</span>
		</div>
		<br>
		<div> 
			
			<a class="buttonDown" href="convertBox/convertVersion.xml" download>Выгрузить</a>
			<button v-on:click="createFile()">Выгрузить</button>

			<a href="http://prabu.ru/test4/nextStep.html" class="nextStep">Следущий Шаг</a>

		</div>
		<br>
		<br>
		<div>
			
			<ol class="result">
  				<transition-group name="list" tag="p">
					<li v-for=" elem in result"  v-bind:key="elem">

						<span v-for="item in elem"  :style="{ width: widthSpan + '%' }"> {{item}} </span>

					</li>
				</transition-group>
			</ol>
		</div>
	</div>
	
</body>

	<script src="js/global.js"></script>

	<script>

		setTimeout(function () { $("#preloader-holder").remove(); },1200);

	</script>

</html>