<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TableApp v.1</title>
	<script src="jquery-3.1.1.min.js"></script>



	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="js/vue.js"></script>
	<script src="js/vue-router.min.js"></script>
	<link rel="stylesheet" href="css/global.css">
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<link rel="icon" href="favicon.ico" type="image/ico">
</head>
<body>

	<noscript>Вы не можете просмотреть данную страницу,у вас отключен JavaScript.</noscript>

		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

	<div id="preloader-holder" class="preloadHide">
		<div id="preloader">
			<div class="preloader-item"></div>
			<div class="preloader-item2"></div>
		</div>
	</div>

	<div id="uploadFile">

		<span>
			<input type="file"  @change="changeFile">
			<button>Выбрать Фаил</button>
		</span>

		<div>
			{{ resultAjax }}
		</div>

	</div>

	<div id="convertApp">

		<button v-on:click="registNeed = !registNeed" v-bind:class="{active: registNeed}">Учитывать регистр</button>
		<button v-on:click="spaceNeed = !spaceNeed" v-bind:class="{active: spaceNeed}">Учитывать пробелы</button>
		<button v-on:click="startConvert()" class="Start">Конвертировать</button>

		<br>
		<br>
		<div class="info">
			<span>Было строк: {{ countRowOld }}</span>
			<span>Стало строк: {{ result.length }}</span>
			<span>Сокращение на: {{ procentNew }}%</span>
			<span>Время работы: {{ timeWork }}</span>
		</div>
		<br>
		<div>

			<a class="buttonDown" href="convertBox/convertVersion.xml" download>Выгрузить</a>
			
			<button v-on:click="createFile()">Выгрузить</button>

			<a href="http://prabu.ru/test4/nextStep.html" class="nextStep">Следущий Шаг</a>

		</div>
		<br>
		<br>
		<div>

			<ol class="result">
				<transition-group name="list" tag="p">
					<li v-for=" elem in result"  v-bind:key="elem">

						<span v-for="item in elem"  :style="{ width: widthSpan + '%' }"> {{item}} </span>

					</li>
				</transition-group>
			</ol>

		</div>

	</div>




</body>

	<script src="js/global.js"></script>
	<script>setTimeout(function () { $("#preloader-holder").remove(); },500);</script>

</html>