<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TableApp v.1</title>
	<script src="jquery-3.1.1.min.js"></script>
	<meta http-equiv="Cache-Control" content="no-cache" />

	<link rel="icon" href="favicon.ico" type="image/ico">

	<script src="js/vue.js"></script>

	<script>
		
		$(".preloadHide").addClass(".preloadHide-active");

	</script>

	<script>
	
		// setInterval(function () {
		// 	var arrColor = [
		// 			"body-color1",
		// 			"body-color2"
		// 	];
		// 	var min = 0;
		// 	var max = 2;
		// 	var rand = min - 0 + Math.random() * (max - min + 1);

		//  rand = Math.round(rand);

	 // 	 $("body").attr('class', '');
		// 	$("body").addClass(arrColor[rand]);

		// },5000);

	</script>
		
	<link rel="stylesheet" href="css/global.css">

</head>
<body id="nextStepPage">


	<div id="preloader-holder" class="preloadHide">
		<div id="preloader">
			<div class="preloader-item"></div>
			<div class="preloader-item2"></div>
		</div>
	</div>

	<div class="holder-global">

			<a href="http://prabu.ru/test4/" class="backStep">К предыдущему шагу</a>
		
			<div id="createTask">
				
				<div class="raido-holder">
					<h4>С каким файлом взаимодествовать ?</h4>
					
					<input checked type="radio" name="radioTeam" id="uploadFileMet"  v-on:click="useFile1()">
					<label for="uploadFileMet">Загруженый</label>

					<input type="radio" name="radioTeam" id="convertFileMet"  v-on:click="useFile2()">
					<label for="convertFileMet">Форматированый</label>

				</div>
				<div>
					<br>
					<br>
					<br>
				</div>
				<div class="task1">
					<h4>Города\курорты</h4>
					<div class="newCity">
						<input type="text" v-model="textCity">
						<button v-on:click="addCity()">Добавить новое слово</button>
					</div>
					<ul>
						<li v-for="(city,index) in citys">{{index + 1}}. {{ city.name }} <button v-on:click="choseCity(city,index)"  class="icon_plus" v-bind:class="{icon_cancel1: city.flag}"></button></li>
					</ul>
					<!-- <span>{{choseCitys}}</span> -->

				</div>

				<div class="task2">
					<h4>Шаблоны слов</h4>

					<div class="addTemp-holder">
						<strong>Имя шаблона</strong>
						<input type="text" v-model="nameTemp">

						<strong>Слова шаблона</strong>
						
						<div class="tempWords" v-for="(newWord,index) in newWords">
							<input type="text" v-model="newWord.text">	

							<button class="icon_plus" v-on:click="addNewWord(newWord)"></button>
							<button class="icon_cancel" v-on:click="removeNewWord(index)" v-if="newWords.length > 1"></button>

						</div>

						<button class="addTemp" v-on:click="addTempl()">Добавить шаблон</button>

					</div>
					<div class="allTempls">

						<ul>
							<li v-for="(temp,index) in templates" >
								<span v-on:mouseover="hoverTampl(temp)" v-on:mouseout="hoverTamplOut(temp)">{{ temp.name }}</span>

								<button v-on:click="choseTemp(temp,index)"  class="icon_plus" v-bind:class="{icon_cancel1: temp.flag}"></button>

								<transition name="fade">
									<div v-if="temp.visible">
									
										{{ temp.data }}

									</div>
								</transition>

							</li>
							<span>{{ choseTemps }}</span>
						</ul>
						
					</div>

				</div>

			</div>

			<div id="workBoxesApp">

				{{words}}
				
				<button class="icon_down_open_big createButton" v-on:click="createBoxes()"></button>

				<transition name="fade">
					<span class="dangerMessege" v-if="messege">{{messege}}</span>
				</transition>
				
				<div class="workbox"  v-for="(box,index) in words">

						<button v-on:click="useExceptions(box,index)" v-bind:class="{activeStrict: box.useExceptions}">Режим Исключение данных слова</button>

						<transition name="fade">
							<button v-on:click="useStrict(box,index)" v-if="box.strictShow" v-bind:class="{activeStrict: box.strictFlag}">Использовать Strict Моде</button>
						</transition>
					<br>
					<br>
					<button v-on:click="startSearch(box,index)">Поиск</button>

					<div class="allWords" v-for="(word,index) in box.data">
					
						<input type="text" v-bind:value="word" disabled>
						<button class="icon_cancel1" v-on:click="deleteWord(box,word,index)"></button>

					</div>
					
					<div class="resultTable">
						
						<span v-if="box.result.length" v-show="!box.searchEmpty">
							{{box.result}}
						</span>
						<p>Количество совпадений {{ box.countFind }}</p>
						<span v-if="box.searchEmpty">
							Нет совпадений
						</span>
					</div>
					
				</div>
			</div>

			<div class="strictApp-Button">
				Strict
			</div>

			<div id="strictApp" class="da">
				
				<h4>Настройки Strict мода</h4>
				<div class="newWord">
					<input type="text" v-model="text">
					<button v-on:click="addWord">Добавить новое слово</button>
				</div>
				
				<ul>
					<li v-for="(word,index) in words">{{index + 1}}. {{ word }} <button v-on:click="delWord(word,index)" class="icon_cancel"></button></li>
				</ul>

			</div>

			<script>
				
				var button = document.querySelector('.strictApp-Button');

				button.onclick = function () {

					var d = document.getElementById("strictApp");

					d.classList.toggle("ativeStrictOption");

				};

			</script>

			<script>

				var strictApp = new Vue({
					el:"#strictApp",
					data: {
						words:["в","на","под"],
						text:""
					},
					methods:{
						addWord: function () {
							this.words.push(this.text);
							this.text = "";
						},
						delWord: function (word,index) {
							this.words.splice(index,1);
						}
					}
					
				});

				var arrWords = strictApp.words;

				var createTask = new Vue({
					el:"#createTask",
					data: {
						citys:[
							{
								name:"Карло",
								flag:false
							},
							{
								name:"Санат",
								flag:false
							},
							{
								name:"Лечен",
								flag:false
							}

						],
						textCity:"",
						choseCitys:[],


						templates:[
							{
								name:"Шаблон 1",
								data:[
									"лечен",
									"вар",
									"тур"

								],
								flag:false,
								visible:false
							},

						],
						newWords: [
							{
								text:"",
							},
						
						],
						choseTemps:[],
						wordTemp:"",
						nameTemp:"",
						countHolder:1,
						visible:false,
						showBox:false,

						downloadFile:true,
						convertFile:false,

						arr:[],
					},
					created: function () {
												
						var arr = [];

						var xml = this.getXMLDocument('upload/workSpace.xml');

					    var allRow2 = xml.getElementsByTagName('Row');

					    var xml = this.getXMLDocument('upload/workSpace.xml');

					    var allRow = xml.getElementsByTagName('Data');

					    var obj = [];

					    for (var c = 0;c < allRow.length;c++) {
					    	
					        var test = Number.isNaN(+$(allRow[c]).text());

					        if (test) {

					            obj.push($(allRow[c]).text());
					        } else {
					        	
					            obj.push(+$(allRow[c]).text());
					        }
					    }

						this.arr = obj;

						this.parseArr(this.arr,$(allRow2[0]).find( "Data" ).length);
					},
					methods:{
						getXMLDocument: function (url) {
							var xml; 

						    if(window.XMLHttpRequest)  {  
						        xml = new window.XMLHttpRequest();  
						        xml.open("GET", url, false);  
						        xml.send("");  
						        return xml.responseXML;  
						       
						    }  else  {
						        
						        if(window.ActiveXObject) {  
						            xml=new ActiveXObject("Microsoft.XMLDOM");  
						            xml.async=false;  
						            xml.load(url);   
						            return xml;   
						        }  else  {  
						            alert("Загрузка XML не поддерживается браузером");  
						            return null;  
						        }  
						    }
						},
						parseArr: function (arrXml,count) {
							var globalArr = [];

							var row = arrXml.length/count;

							for (var i = 0;i < row;i++) {

								var str = "";
								
								globalArr[i] = new Array();

								for (var j = 0;j < count;j++) {
							
									globalArr[i][j] = arrXml[(i*count)+j];

								}
							}

							this.arr = [];

							this.arr = globalArr;

						},
						useFile1: function () {

							this.downloadFile = true;
							this.convertFile = false;

							var xml = this.getXMLDocument('upload/workSpace.xml');
							this.getXml(xml);	
						},
						useFile2: function () {

							this.downloadFile = false;
							this.convertFile = true;

							var xml = this.getXMLDocument('convertBox/convertVersion.xml');
							this.getXml(xml);
						},
						getXml: function (xml) {

							var allRow2 = xml.getElementsByTagName('Row');


					        if (this.downloadFile) {

								var xml = this.getXMLDocument('upload/workSpace.xml');

							} else {
								
								var xml = this.getXMLDocument('convertBox/convertVersion.xml');

							}

					        var allRow = xml.getElementsByTagName('Data');

					        var obj = [];

					        for (var c = 0;c < allRow.length;c++) {
					        	
					            var test = Number.isNaN(+$(allRow[c]).text());

					            if (test) {

					                obj.push($(allRow[c]).text());
					            } else {
					            	
					                obj.push(+$(allRow[c]).text());
					            }
					        }

							this.arr = obj;

							this.parseArr(this.arr,$(allRow2[0]).find( "Data" ).length);

						},
						choseCity: function (city,index) {

							city.flag = !city.flag; 

							if (city.flag) {
								this.choseCitys.push(city.name);
							} else {
								for (var i =0;i < this.choseCitys.length;i++) {

									if (this.choseCitys[i] == city.name) {
										this.choseCitys.splice(i,1);
									}
								}
							}	

						},
						choseTemp: function (temp,index) {

							temp.flag = !temp.flag; 

							if (temp.flag) {
								this.choseTemps.push(temp)
							}else {

								for (var i =0;i < this.choseTemps.length;i++) {

									if (this.choseTemps[i] == temp) {
										this.choseTemps.splice(i,1);
									}
								}
							}

						},
						addCity: function () {
							this.citys.push({
								name: this.textCity,
								flag:false
							});
							this.textCity = "";
						},
						addNewWord: function(newWord) {      
							this.newWords.push({ number: newWord.number });
						},
						removeNewWord: function(index) {

							this.newWords.splice(index,1);
							
						},
						addTempl: function () {

							let arr = [];
							for (var i = 0;i < this.newWords.length;i++) {
								arr.push(this.newWords[i].text);
							}
							this.templates.push({
								name: this.nameTemp,
								data:arr,
								flag:false,
								visible:false
							});
						},
						hoverTampl: function (temp) {
							return temp.visible = true;
						},
						hoverTamplOut: function (temp) {
							return temp.visible = false;
						},
					}
				});

				var workBox = new Vue({
					el:"#workBoxesApp",
					data: {
						countWords:0,
						city:[],
						words:[],
						resultSearch:[],
						messege:"",
					},
					
					methods:{
						createBoxes:function () {
							this.words = [];

							// this.countBoxes = createTask.choseTemps.length;

							// if ( createTask.choseCitys.length ) {
							// 	this.countBoxes *= createTask.choseCitys.length;
							// }

							this.city = createTask.choseCitys;

							let arr = createTask.choseTemps;

							var result = [];

							var lastarr = [];

							function createObj (data) {

								this.data = data;
								this.result = [];
								this.strictFlag = false;
								this.searchEmpty = false;
								this.strictShow = true;
								this.useExceptions = false;
								this.countFind = 0;

							}

							if (arr.length && !this.city.length) {
								this.messege = "";

								for (var j =0;j < arr.length;j++) {
									
									result.push(arr[j].data );

								}

								for (var k =0;k < result.length;k++) {

									let it = result[k];

									let dataItem =  {};

									dataItem = new createObj(it); 

									this.words.push(dataItem);

								}
		
							} else if (this.city.length && !arr.length) {
								this.messege = "";

								for (var i =0;i < this.city.length;i++){

									result.push( this.city[i] );

								}

								for (var k =0;k < result.length;k++) {

									let it = result[k];

									it.strict = false;
									
									let dataItem =  {};
									dataItem.data = [];

									dataItem.data.push(it);

									dataItem.result = [];
									dataItem.strictFlag = false;
									dataItem.searchEmpty = false;
									dataItem.strictShow = true;
									dataItem.useExceptions = false;

									dataItem.countFind = 0;

									this.words.push(dataItem);

								}

							} else if (this.city.length && arr.length) {
								this.messege = "";

								for (var i =0;i < arr.length;i++){
									for (var j =0;j < this.city.length;j++) {

										result.push(arr[i].data ,this.city[j] );

									}
									
								}

								for (var k =0;k < result.length;k=k+2) {

									let item = result[k];

									let it = result[k].concat(result[k+1]);

									let dataItem =  {};

									dataItem = new createObj(it); 

									this.words.push(dataItem);

								}
							} else {

								this.messege = "Выберите Город/Шаблон";

							}

						},
						useStrict: function (item,index) {
							
							item.strictFlag = !item.strictFlag;
						},
						startSearch: function (item,index) {

							item.countFind = 0;

							var arr = createTask.arr;

							var holder = $('.workbox')[index];

							var globalArr = [];

							var allWord = item.data;

							if (item.strictFlag) {					

								globalCount = allWord.length;

								for (var i = 0;i < arr.length;i++) {

									let str =  arr[i][0];
									
									if (str == 0) {

										return console.warn("конец таблицы !");

									} else if (typeof str == typeof "test") {
										str = str.toLowerCase();
									} else{
										str = str + "";
									}

									let innerCount = 0;

									for (var j = 0;j < globalCount;j++) {

										var searStr = allWord[j];										
										searStr = searStr.toLowerCase();

				
										if ( str.indexOf(searStr,0) >= 0) {

											innerCount++;

										}

									}

									let reCreateArr = str.split(" ");

									let strictCount = 0;

									for (var c =0;c < reCreateArr.length;c++) {

										
										if (reCreateArr[c] == "" || reCreateArr[c] == " ") {
											reCreateArr.splice(c,1);
										}
										
									}

									for (var t = 0;t < reCreateArr.length;t++) {
										for (var k = 0;k < arrWords.length;k++) {
											if (reCreateArr[t] == arrWords[k] ) {
												
												strictCount++;
												
											}
										}
									}

									if (globalCount == innerCount && (reCreateArr.length - strictCount) == globalCount) {
									
										globalArr.push(arr[i]);

										item.searchEmpty = false;

										item.countFind = item.countFind + 1;

										this.mathSTR(globalArr,index,item);

									} else {

										if (!globalArr.length) {
											item.searchEmpty = true;
										}
									}

								}
							} else if (item.useExceptions) {

								globalCount = allWord.length;

								for (var i = 0;i < arr.length;i++) {

									let str =  arr[i][0];

									if (str == 0) {

										return console.warn("конец таблицы !");

									} else if (typeof str == typeof "test") {
										str = str.toLowerCase();
									} else{
										str = str + "";
									}

									let innerCount = 0;

									for (var j = 0;j < globalCount;j++) {

										let searStr = allWord[j];

										searStr = searStr.toLowerCase();

										if ( str.indexOf(searStr,0) >= 0) {

											console.log(str.indexOf(searStr,0) >= 0);
											innerCount++;

										}

									}

									if (globalCount == innerCount) {
									
										if (!globalArr.length) {
											item.searchEmpty = true;
										}

									} else {

										globalArr.push(arr[i]);

										item.searchEmpty = false;
										item.countFind = item.countFind + 1;

										this.mathSTR(globalArr,index,item);
										
									}

								}
							} else {
									
								globalCount = allWord.length;

								for (var i = 0;i < arr.length;i++) {

									let str =  arr[i][0];

									if (str == 0) {

										return console.warn("конец таблицы !");

									} else if (typeof str == typeof "test") {
										str = str.toLowerCase();
									} else{
										str = str + "";
									}

									let innerCount = 0;

									for (var j = 0;j < globalCount;j++) {

										let searStr = allWord[j];

										searStr = searStr.toLowerCase();

										if ( str.indexOf(searStr,0) >= 0) {

											innerCount++;

										}

									}

									if (globalCount == innerCount) {
									
										globalArr.push(arr[i]);

										item.countFind = item.countFind + 1;

										item.searchEmpty = false;

										this.mathSTR(globalArr,index,item);

									} else {

										if (!globalArr.length) {
											item.searchEmpty = true;
										}
									}
								}
							}
						},
						mathSTR: function (arr,index,item) {

							var endArr = [];

							var count = arr[0].length;

							for (var k = 0;k < count;k++) {
								endArr[k] = 0;
							}
							
							if (arr.length <= 0) {

							} else {
								endArr.unshift(arr[0][0]);
								var str = '';
								for (var i = 0;i < arr.length;i++) {
									for (var j = 1; j < arr[i].length;j++) {

										if (typeof arr[i][j] == typeof str){
									
											if ( !isNaN(parseInt(arr[i][j])) ) {

												str = arr[i][j];
												str = str.replace(/\s+/g,'');
												str = str.replace(/,/g,'.');
												arr[i][j] = parseFloat(str)/100;

											}
										}

										endArr[j] += arr[i][j];
									}
								}
								endArr.pop();
								
								this.viewInfo(endArr,index,item);

							}
						},
						viewInfo: function (arr,index,item) {
							arr[0] = "____"
							item.result = arr;
						},
						useExceptions: function (item,index) {

							item.strictFlag = false;
							item.strictShow = !item.strictShow;
							item.useExceptions = !item.useExceptions;
						},
						deleteWord: function (holder,holderInner,index) {
							holder.data.splice(index,1);
						}
					}
				});

			</script>

	</div>

	<script src="js/global.js"></script>	


	<script>

		setTimeout(function () { $("#preloader-holder").remove(); },1200);
		
	</script>


</body>
</html>










