<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TableApp v.1</title>
	<script src="jquery-3.1.1.min.js"></script>
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<script>$(".preloadHide").addClass(".preloadHide-active");</script>
	<link rel="icon" href="favicon.ico" type="image/ico">
	<script src="js/vue.js"></script>
	<script src="js/vue-router.min.js"></script>
	<link rel="stylesheet" href="css/global.css">
</head>






<body id="nextStepPage">


	<div id="preloader-holder" class="preloadHide">
		<div id="preloader">
			<div class="preloader-item"></div>
			<div class="preloader-item2"></div>
		</div>
	</div>

	<div class="holder-global">

			<a href="http://prabu.ru/test4/" class="backStep">К предыдущему шагу</a>

			<div id="createTask">

				<div class="raido-holder">
					<h4>С каким файлом взаимодествовать ?</h4>

					<input checked type="radio" name="radioTeam" id="uploadFileMet"  v-on:click="useFile1()">
					<label for="uploadFileMet">Загруженый</label>

					<input type="radio" name="radioTeam" id="convertFileMet"  v-on:click="useFile2()">
					<label for="convertFileMet">Форматированый</label>

				</div>
				<div>
					<br>
					<br>
					<br>
				</div>
				<div class="task1">
					<h4>Города\курорты</h4>
					<div class="newCity">
						<input type="text" v-model="textCity">
						<button v-on:click="addCity()">Добавить новое слово</button>
					</div>
					<ul>
						<li v-for="(city,index) in citys">{{index + 1}}. {{ city.name }} <button v-on:click="choseCity(city,index)"  class="icon_plus" v-bind:class="{icon_cancel1: city.flag}"></button></li>
					</ul>

				</div>

				<div class="task2">
					<h4>Шаблоны слов</h4>

					<div class="addTemp-holder">
						<strong>Имя шаблона</strong>
						<input type="text" v-model="nameTemp">

						<strong>Слова шаблона</strong>

						<div class="tempWords" v-for="(newWord,index) in newWords">

							<input type="text" v-model="newWord.text">
							<button class="icon_plus" v-on:click="addNewWord(newWord)"></button>
							<button class="icon_cancel" v-on:click="removeNewWord(index)" v-if="newWords.length > 1"></button>

						</div>

						<button class="addTemp" v-on:click="addTempl()">Добавить шаблон</button>

					</div>
					<div class="allTempls">

						<ul>
							<li v-for="(temp,index) in templates" >

								<span >{{ temp.name }}</span>

								<button v-on:click="choseTemp(temp,index)"  class="icon_plus" v-bind:class="{icon_cancel1: temp.flag}"></button>

									<div >
										{{ temp.data }}
									</div>

							</li>
							<span>{{ choseTemps }}</span>
						</ul>

					</div>

				</div>

			</div>

			<div id="workBoxesApp">

				{{words}}

				<button class="icon_down_open_big createButton" v-on:click="createBoxes()"></button>

				<transition name="fade">
					<span class="dangerMessege" v-if="messege">{{messege}}</span>
				</transition>

				<div class="workbox"  v-for="(box,index) in words">

						<button v-on:click="useExceptions(box,index)" v-bind:class="{activeStrict: box.useExceptions}">Режим Исключение данных слова</button>

						<transition name="fade">
							<button v-on:click="useStrict(box,index)" v-if="box.strictShow" v-bind:class="{activeStrict: box.strictFlag}">Использовать Strict Моде</button>
						</transition>
					<br>
					<br>
					<button v-on:click="startSearch(box,index)">Поиск</button>

					<div class="allWords" v-for="(word,index) in box.data">

						<input type="text" v-bind:value="word" disabled>
						<button class="icon_cancel1" v-on:click="deleteWord(box,word,index)"></button>

					</div>

					<div class="resultTable">

						<span v-if="box.result.length" v-show="!box.searchEmpty">
							{{box.result}}
						</span>
						<p>Количество совпадений {{ box.countFind }}</p>
						<span v-if="box.searchEmpty">
							Нет совпадений
						</span>
					</div>

				</div>
			</div>

			<div class="strictApp-Button">Strict</div>

			<div id="strictApp" class="da">
				
				<h4>Настройки Strict мода</h4>
				<div class="newWord">
					<input type="text" v-model="text">
					<button v-on:click="addWord">Добавить новое слово</button>
				</div>

				<ul>
					<li v-for="(word,index) in words">{{index + 1}}. {{ word }} <button v-on:click="delWord(word,index)" class="icon_cancel"></button></li>
				</ul>

			</div>

			<script>

				var button = document.querySelector('.strictApp-Button');

				button.onclick = function () {

					var d = document.getElementById("strictApp");

					d.classList.toggle("ativeStrictOption");

				};

			</script>

	</div>
	<script src="js/global.js"></script>
	<script>setTimeout(function () { $("#preloader-holder").remove(); },500);</script>
</body>
</html>










